*
{
	background-color: pink;
	margin: 10px;
	padding: 10px;
	text-align: center;


}
.container
{

	width: 40%;
	height: 50%;
	position: absolute;
	left: 25%;
	top: 15%;
	text-align: center;
	padding: 40px;
	outline: solid 30px;
	padding: 20px;
	border: 20px solid white;
	margin: auto;
	border-radius: 10%;
	background-color: red;
}
input[type="text"]
{
	margin: 10px;
	width: 50%;
	height: 20px;
}
